<% provide(:title, "Add Remark") %>

<%= render 'shared/project_profile_head' %>

<% provide(:btntitle, "<span class=\"glyphicon glyphicon-list-alt\"></span> Back to project".html_safe ) %>
<% provide(:link, user_project_path(current_user, @customitem.project) ) %>
<%= render 'shared/header_submenu' %>

<div class="container top-padding">
	<div class="row">
		<div class="col-md-3">
			<%= render 'shared/menu_leftside_project' %>
		</div>
		<div class="col-md-9">
			<div class="panel panel-default top-margin-20">
				<div class="panel-heading">
					<h2><%= link_to @customitem.category.name, user_project_path(current_user, @customitem.project) + "/add/" + @customitem.category_id.to_s %></h2>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th class="text-center">Quantity</th>
								<th style="width: 50%;">Item</th>
								<th style="width: 50%;">Remark</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-right"><strong><%= @customitem.quantity %></strong> x</td>
								<td><strong><%= @customitem.name %></strong></td>
								<td><%= @customitem.remark %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-3">
				<h1 class="text-center">New Remark</h1>
				
				<%= form_for @customitem, url: user_project_category_customitem_createremark_path(current_user, @customitem.project, @customitem.category, @customitem), method: "put" do |f| %>

					<%= render 'shared/error_messages', object: f.object %>


					<div class="form-group">
						<%= f.label :remark %>
						<%= f.text_area :remark, size: "30x4", class: 'form-control', autofocus: :true %>

					</div>
	
					<%= f.submit "Submit", class: "btn btn-danger" %>
					<%= link_to "Cancle", :back, class: "btn btn-default pull-right" %>
				
				<% end %>

			</div>
		</div>
	</div>
</div>
